@import '../variables';

header {
    width: calc(100% - 40px);
    height: auto;
    padding: 20px;
    background-color: $secondary;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;

    .header, .header:visited {
        color: $primary !important;
        flex: 0 1 50%;
        font-weight: 300;
        font-size: 32px;

        &:hover {
            color: $tertiary !important;
        }
    }

    nav {
        flex: 1 0 50%;
        text-align: right;

        a, a:visited {
            color: $primary;
            font-size: 20px;
            margin-left: 3vw;
            line-height: 37px;
            font-weight: 300;

            &:hover {
                color: darkgrey;
            }

            &:first-of-type {
                margin-left: 0px;
            }

            &:last-of-type {
                margin-right: 20px;
            }
        }

        .selected, .selected:visited {
            color: $tertiary;
        }
    }
}

@media(max-width: 650px) {
    header {
        width: 93.8vw;
        padding: 3.1vw;

        .header, .header:visited, a, a:visited {
            height: auto;
            line-height: 5.846vw;
            margin: auto;
        }
        
        .header {
            font-size: 5vw;
        }
    
        nav {
            a, a:visited {
                font-size: 3.1vw !important;
            }
        }
    }
}