form {
  width: 100%;
  padding: 0px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 75%;
          flex: 1 0 75%;
  display: inline-block;
  padding: 10px;
  margin-right: 5%;
  border: solid 2px #212121;
  border-radius: 10px;
  font-size: 16px;
  -webkit-box-shadow: 0px 3px 6px rgba(33, 33, 33, 0.16);
          box-shadow: 0px 3px 6px rgba(33, 33, 33, 0.16);
}

form button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  max-width: 140px;
  max-height: 42px;
  position: relative;
  background-color: #212121;
  color: #ffffff;
  display: inline-block;
  padding: 10px 0px;
  border: solid 2px #ffffff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
  cursor: pointer;
  overflow: hidden;
}

form button .bg, form button p {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

form button p {
  width: 100%;
  z-index: 1;
  line-height: 36px;
}

form button .bg {
  background-color: #ffa100;
  width: 0%;
}

form button:hover .bg {
  -webkit-animation-name: expand;
          animation-name: expand;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  width: 100%;
}

@-webkit-keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

form .tag-container {
  display: none;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.36);
          box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.36);
  margin-bottom: 30px;
}

.card button {
  background-color: #ffffff;
  color: #ffa100;
  border-color: #ffa100;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card button .bg {
  background-color: #ffa100;
}

.card button:hover p {
  color: #ffffff;
  -webkit-animation: colourChange 1s;
          animation: colourChange 1s;
}

@-webkit-keyframes colourChange {
  from {
    color: #ffa100;
  }
  to {
    color: #ffffff;
  }
}

@keyframes colourChange {
  from {
    color: #ffa100;
  }
  to {
    color: #ffffff;
  }
}

.card .tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-top: 20px;
}

.card .tag-container label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 7px;
  border: solid 1px #ffa100;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 20px;
  color: #ffa100;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.card .tag-container label:last-of-type {
  margin-right: 0px;
}

.card .tag-container label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.card .tag-container label input:checked ~ .custom-checkbox {
  color: #ffa100;
}

.card .tag-container label .custom-checkbox {
  width: 20px;
  max-width: 20px;
  height: 20px;
  border: solid 1px #ffa100;
  border-radius: 3px;
  float: right;
  line-height: 16px;
  color: #ffffff;
  background-color: #ffffff;
}

.card .tag-container .active {
  background-color: #ffa100;
  color: #ffffff;
}

.no-reults {
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
}

@media (max-width: 650px) {
  form input {
    font-size: 2.5vw;
    padding: 1.6vw;
  }
  form button {
    padding: 1.6vw 0px;
    font-size: 2.75vw;
  }
}
/*# sourceMappingURL=searchbar.css.map */