@import '../variables';

form {
    width: 100%;
    padding: 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    .search-label {
        position: absolute;
        opacity: 0;
    }

    input {
        flex: 1 0 calc(80% - 55px);
        display: inline-block;
        padding: 10px;
        margin-right: 30px;
        border: solid 2px $secondary;
        border-radius: 10px;
        font-size: 16px;
        box-shadow: 0px 3px 6px rgba($color: $secondary, $alpha: 0.16);
    }

    button {
        flex: 0 1 20%;
        max-width: 140px;
        max-height: 42px;
        position: relative;
        background-color: $secondary;
        color: $primary;
        display: inline-block;
        padding: 10px 0px;
        border: solid 2px $primary;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 500;
        box-shadow: 3px 3px 10px black;
        cursor: pointer;
        overflow: hidden;

        .bg, p {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        
        p {
            width: 100%;
            z-index: 1;
            line-height: 36px;
        }

        .bg {
            background-color: $tertiary;
            width: 0%;
        }

        &:hover {
            .bg {
                animation-name: expand;
                animation-duration: 1s;
                width: 100%;
            }
        }

        @keyframes expand {
            from {width: 0%}
            to {width: 100%}
        }
    }

    .tag-container {
        display: none;
    }
}

.card {
    width: calc(100% - clamp(14px, 4vw, 40px));
    padding: clamp(7px, 2vw, 20px);
    background-color: $primary;
    border-radius: 15px;
    box-shadow: 10px 10px 6px rgba($color: black, $alpha: 0.36%);
    margin-bottom: 3vw;

    button {
        background-color: $primary;
        color: $tertiary;
        border-color: $tertiary;
        box-shadow: none;

        .bg {
            background-color: $tertiary;
        }
        
        &:hover {

            p {
                color: $primary;
                animation: colourChange 1s;
            }

            @keyframes colourChange {
                from {color: $tertiary}
                to {color: $primary}
            }
        }
    }

    .tag-container {
        display: flex;
        flex: 1 0 100%;
        margin-top: 20px;

        label {
            flex: 0 1 100%;
            padding: clamp(1px, 0.42vw, 7px);
            border: solid 1px $tertiary;
            background-color: $primary;
            border-radius: 5px;
            margin-right: clamp(2px, 1.2vw, 20px);
            color: $tertiary;
            text-align: center;
            font-size: clamp(5px, 2.05vw, 18px);
            line-height: 155%;
            cursor: pointer;

            &:last-of-type {
                margin-right: 0px;
            }

            // hide the default checkbox
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            input:checked ~ .custom-checkbox {
                color: $tertiary;
            }

            //custom checkbox design
            .custom-checkbox {
                width: clamp(5px, 2.5vw, 20px);
                height: clamp(5px, 2.5vw, 20px);
                border: solid 1px $tertiary;
                border-radius: 3px;
                float: right;
                line-height: clamp(0px, 120%, 16px);
                color: $primary;
                background-color: $primary;
            }
        }

        .active {
            background-color: $tertiary;
            color: $primary;
        }
    }
}

.no-reults {
    width: calc(100% - 30px);
    font-size: clamp(10px, 3vw, 16px);
    padding: 15px;
    background-color: $primary;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba($color: black, $alpha: 0.16%);
}

@media(max-width: 650px) {
    form {
        input {
            font-size: 2.5vw;
            padding: 1.6vw;
        }
    
        button {
            padding: 1.6vw 0px;
            font-size: 2.75vw;

            p {
                line-height: 6vw;
            }
        }
    }
}